# Python
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db